<ul class="thumbnails">
  <li class="span6">
    <div class="thumbnail">  
    <img src="http://placehold.it/570x400/990066/ffffff&text=Puppet+Camp">
  </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
<img src="http://placehold.it/285x200/83a400/ffffff&text=This+Blog">
</div>
  </li>
  <li class="span3">
    <div class="thumbnail">
<img src="http://placehold.it/285x200/ffffff/83a400&text=Jorge+Coca+iOS+App">
</div>
  </li>
  <li class="span3">
    <div class="thumbnail">
<img src="http://placehold.it/285x200">
</div>
  </li>
  <li class="span3">
    <div class="thumbnail">
<img src="http://placehold.it/285x200">
</div>
  </li>
</ul>