<div class="well">
  <ul class="nav nav-list">
    <li class="nav-header"><i class="icon-folder-open"></i> Categories</li>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, category_articles_path(category) %></li>
    <% end %>
    <li class="nav-header"><i class="icon-bar-chart"></i> Popular Articles</li>
    <% @more_articles.each do |article| %>
      <li><%= link_to article.title, article %></li>
    <% end %>
  </ul>
</div>