/* Custom Bootstrap */

$green: #83a400;
$customGray: #dfdfdf;
$navbarBackgroud: $customGray;
$navbarBackgroundHighlight: $customGray;
$navbarLinkBackgroundActive: #ddd;
$navbarLinkColorActive: $green;
$linkColor: $green;
$linkColorHover: #333;

$android: #A4C639;
$apple: #B9BFC1;
$dropbox: #2281CF;
$facebook: #3B5998;
$github: #4183C4;
$heroku: #6762A6;
$instagram: #3F729B;
$rails: #A62C39;
$spotify: #80B719;
$twitter: #39A9E0;


@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";
@import "foundation-social-web-icons";

/* Custom CSS */
.btn-success{
  background-color: $green;
  background-image: none;
  &:hover{
    background-color: $green;
    background-image: none;
  }
}

/* Responsive */
#technologies{
  list-style: none;
  margin-left: 0px;
  text-align: center;
  li{
    display: inline;
    margin-top: 3px;
    img.android-tech { background-color: $android; }
    img.apple-tech { background-color: $apple; }
    img.dropbox-tech { background-color: $dropbox; }
    img.facebook-tech { background-color: $facebook; }
    img.github-tech { background-color: $github; }
    img.heroku-tech { background-color: $heroku; }
    img.instagram-tech { background-color: $instagram; }
    img.rails-tech { background-color: $rails; }
    img.spotify-tech { background-color: $spotify; }
    img.twitter-tech { background-color: $twitter; }
  }
}

@media (min-width: 980px){
  #wrapper{
    padding-top: 83px;
  }
}

@media (max-width: 979px){
  #wrapper{
    padding-top: 0px;
  }
  .logged-in-btn{
    text-align: left !important;
    margin-bottom: 10px;
  }
  .sign-in-btn{
    width: 200px !important;
  }
  #instagram-wrapper{
    display: none;
  }
}

.carousel{
  .carousel-indicators .active{
    background-color: $green !important;
  }
  .carousel-inner{
    border-radius: 20px;
  }
  .carousel-control{
    font-size: 40px !important;
  }
  a:hover{
    color: white;
  }
}

/* Code */

body{
  background-image: url("/assets/background.gif");
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

a{
  color: $green;
  &:hover{
    text-decoration: none;
  }
}

textarea{
  resize: none;
  padding: 4px 16px !important;
}

input{
  height: 40px !important;
  padding: 4px 16px !important;
}

input:focus, textarea:focus{
  border-color: $green !important;
  box-shadow: inset 0 1px 1px $green, 0 0 8px $green !important;
}

.navbar-inner{
  border-radius: 0px;
}

.title-divider {
  .divider-arrow {
    height: 45px;
    overflow: hidden;
    background: url(../assets/title-divider.gif) repeat-x 0 50%;
  }
  h3{
    font-size: 24px;
    float: left;
    font-family: 'Dosis', sans-serif;
    margin: 0 10px 0 0;
  }
}

#top-section{
  background-color: #333;
  min-height: 80px;
  border-bottom: 3px solid $green;
  .sign-in-btn{
    margin-top: 25px;
  }

  .logged-in-btn{
    margin-top: 15px;
    text-align: right;
  }

  .root-link{
    margin-top: 10px;
    a, span{
      font-size: 28px;
      &:hover{
        color: #fff;
      }
    }
  }

  .user-avatar{
    border: 1px solid $green;
    height: 48px;
    width: 48px;
  }
}

#white-footer{
  background-color: #fff;
  border-top: 1px solid #ccc;
  #info-footer{
    margin-top: 15px;
  }
}

.field_with_errors{
  input, textarea{
    border: 1px solid red;
  }
}

.social-links{
  li a{
    padding-top: 5px !important;
    padding-bottom: 0px !important;

  }
  li .icon-twitter-sign:hover{
    color: #3bd0fb;
  }

  li .icon-github-sign:hover{
    color: #333;
  }

  li .icon-pinterest-sign:hover{
    color: #c52026;
  }

  li .icon-linkedin-sign:hover{
    color: #4492c2;
  }
}


.fc-webicon.spotify.small{
  margin-bottom: -5px !important;
}

#footer{
  border-top: 3px solid $green;
  background-image: url(/assets/top-menu-bg.gif);
  min-height: 40px;
  width: 100%;
}

.summary{
  font-family: 'Dosis', sans-serif;
  font-size: 20px; 
}

#search-form{
  .input-append{
    margin-bottom: 0px;
    input{
      height: 20px !important;
    }
  }
}


