<nav>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <ul class="nav pull-right social-links">
          <li>
            <a href="https://twitter.com/jcocaramos" target="_blank" data-toggle="tooltip" data-title="@jcocaramos">
              <i class="icon-twitter-sign icon-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/jorgecoca" target="_blank" data-toggle="tooltip" data-title="jorgecoca">
              <i class="icon-github-sign icon-2x"></i>
            </a>
          </li>
          <li>
            <a href="http://www.linkedin.com/pub/jorge-coca-ramos/29/2b8/363/en" target="_blank" data-toggle="tooltip" title="Jorge Coca Ramos">
              <i class="icon-linkedin-sign icon-2x"></i>
            </a>
          </li>
        </ul>

        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><%= link_to "Home", root_path %></li>
            <li><%= link_to "Articles", "#" %></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</nav>